body{
    background-image:url("sports-background-runner-side-view-600nw-296029316.webp");
    background-size:cover;
    background-position:fixed;
    background-repeat: no-repeat;
}
#continer{
    background-color:white;
    opacity:0.9;
    width:920px;
    height:700px;
    display:flex;
    flex-direction:row;
    margin:auto;
    margin-top:5%;
}
#image_continer img{
    width:100%;
    height:100%;
} 
#change_continer{
    background-color:white;
    opacity:0.8;
    width:55%;
    margin:auto;
    text-align: center;
}
input{
    padding:2% 8% 2% 8%;
    margin-bottom:3%;
}
button{
    padding:2% 5% 2% 5%;
    margin-top:3%;
    margin-bottom:5%;
    background-color: black;
    color:white;
}
button:hover{
    background-color:rgb(91, 196, 238);
    color:black;
}
a:hover{
    color:black;
}
#inner_image{
    width:20%;
    margin-bottom:10%;
}
