body{
    background-image:url('sneakers-2679705_640.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    margin:auto;
}

#continer{
    background-color:white;
    opacity:0.9;
    width:450px;
    height:350px;
    display:flexboxS;
    flex-direction:row;
    margin:auto;
    margin-top:5%;
}
#image_continer img{
    width:100%;
    height:100%;
} 
#form_continer{
    background-color:white;
    opacity:0.9;
    display:flexbox;
    flex-direction:column;
}